.write {
    padding-top: 20px;
}

.writeImg {
    margin: 0 auto;
    width: 35vw;
    /* height: 250px; */
    border-radius: 10px;
    object-fit: cover;
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* align-self: flex-start; */
    position: absolute;
    top: 25%;
    left: 0;
    /* margin: 1em; */
}

.writeInput {
    font-size: 30px;
    border: none;
    padding-top: 15px;
    width: 70vw;
    /* margin-top: .2em; */
}

.writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
}

.writeInput:focus {
    outline-style: none;
}

.writeText {
    width: 70vw;
    height: 100vh;
    font-family: inherit;
    font-size: 20px;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    /* display: flex; */
    /* align-items: center; */
}

.category {
    font-size: 1.2rem;
}